.linkButton {
  display: inline-block;
  min-width: 220px;
  padding: 16px 10px 14px;
  font: 700 16px/1.5 $font-montserrat;
  text-transform: uppercase;
  text-align: center;
  color: $white;
  border-radius: 4px;
  cursor: pointer;
  transition: color $transition-normal,
              border-color $transition-normal,
              background-color $transition-normal;

  &--purple {
    background-color: $purple;
    border: 2px solid $purple;

    &:hover {
      background-color: $purple-hover;
      border-color: $purple-hover;
    }
  }

  &--purpleTransparent {
    color: $purple;
    background-color: $white;
    border: 2px solid $purple;

    &:hover {
      color: $purple-hover;
      background-color: rgba(127, 40, 196, 0.05);
      border-color: rgba(127, 40, 196, 0.05);
    }
  }

  //   &__icon {
  //     margin-right: 15px;
  //     vertical-align: text-bottom;
  //
  //     &--print {
  //       @include background-image(print-red, 23px, 21px);
  //     }
  //   }
}
