$white:         #ffffff;
$white-light:   #E4EDED;

$pink:          #FF336D;
$pink-hover:    #E22A68;

$purple:        #7f28c4;
$purple-hover:  #6a17ad;

$gray:          #546264;
$gray-light:    #a2acae;

$black:         #181818;



// animation
$transition-normal: .3s linear;
$transition-fast:   .1s linear;



// fonts
$font-montserrat: 'Montserrat', Arial, sans-serif;


// screen resolutions
$tablet: 'max-width: 992px';
$mobile: 'max-width: 767px';
