doctype html
html lang="ru"
  head
    include head
    title AVON - payment by card - step 1 alfa click
  body
    .content
      h1.content__title
        | Оплата через Альфа-клик

      .content__steps.steps
        .steps__item
          span.steps__name.is-current Информация об платеже
        .steps__item.steps__item--line
        .steps__item
          span.steps__name Оплата
        .steps__item.steps__item--line
        .steps__item
          span.steps__name Подтверждение оплаты

      .content__in
        h2.content__inTitle
          | Введите данные для оплаты через Альфа-клик
          a.content__linkBack href="#" назад

        form.content__form.form
          .form__in.form__in--cols
            .form__content
              .form__block
                label.form__label
                  span.form__labelTitle Компьютерный номер
                  input.form__field type="text" name="" placeholder="Например, R1111R" value="SOO4410U"
              .form__block
                label.form__label
                  span.form__labelTitle Email
                  input.form__field type="email" name="" placeholder="Например, name@mail.ru" value=""
              .form__block.form__block--sum.form__block--tooltip
                label.form__label
                  span.form__labelTitle
                    | Сумма к зачислению на счёт в&nbsp;Avon
                  span.form__labelDimension Руб.
                  input.form__field type="number" name="" placeholder="1000" value=""
                  span.form__labelNote Минимум 1₽
                .form__tooltip
                  p.form__tooltipInfo
                    | Введите сумму, которая должна быть&nbsp;
                    br/
                    | переведена на Ваш счет в Avon.
                  p.form__tooltipInfo
                    | Сумма к списанию со счета Альфа-Клик,&nbsp;
                    br/
                    | с учетом сбора, отобразится в поле ниже.
                label.form__label
                  span.form__labelDimension Коп.
                  input.form__field type="number" name="" placeholder="00" value=""
              .form__instructions.instructions.instructions--small
                .instructions__item
                  p.instructions__itemInfo
                    | Обращаем Ваше внимание на то, что за техническую
                    |  обработку платежа будет удержана <strong>комиссия 1,7%</strong>
              .form__block.form__block--sum
                label.form__label.form__label--noCursor
                  span.form__labelTitle Комиссия
                  span.form__labelDimension Руб.
                  input.form__field type="number" name="" placeholder="00" value="" readonly="readonly"
                label.form__label.form__label--noCursor
                  span.form__labelDimension Коп.
                  input.form__field type="number" name="" placeholder="00" value="" readonly="readonly"
              .form__block.form__block--sum
                label.form__label.form__label--noCursor
                  span.form__labelTitle
                    | Сумма к списанию с&nbsp;банковской карты
                  span.form__labelDimension Руб.
                  input.form__field.form__field--textBold type="number" name="" placeholder="00" value="" readonly="readonly"
                label.form__label.form__label--noCursor
                  span.form__labelDimension Коп.
                  input.form__field.form__field--textBold type="number" name="" placeholder="00" value="" readonly="readonly"
            .form__additional
              .form__balance.balance
                .balance__info
                  ul.balance__list
                    li.balance__listItem
                      span.balance__listTitle БАЛАНС
                      span.balance__listAmount
                        |  14&nbsp;447,05&nbsp;₽

          .form__in.form__in--submit
            .form__cols.form__cols--mt40
              .form__col.form__col--flex
                span.form__icon.form__icon--alfa
                  img.icon src="static/images/gi3/logos/alfa-click.png"
                button.form__button.linkButton.linkButton--purpleTransparent type="button" Вернуться назад
                button.form__button.linkButton.linkButton--purple type="submit" Оплатить

      include note-with-icon

    include scripts
