doctype html
html lang="ru"
  head
    include head
    title AVON - payment by card - step 3 success
  body
    .content
      h1.content__title
        | Оплата банковской картой

      .content__steps.steps
        .steps__item
          span.steps__name.is-passed Информация об платеже
        .steps__item.steps__item--line
        .steps__item
          span.steps__name.is-passed Оплата
        .steps__item.steps__item--line
        .steps__item
          span.steps__name.is-passed Подтверждение оплаты

      .content__in
        h2.content__inTitle
          | Подтверждение оплаты
          a.content__linkBack href="#" назад

        .content__check.check
          .check__content
            p.check__title Спасибо!
            p.check__result.check__result--done Ваш платёж принят
            form.check__form.form.form--check
              .form__block
                label.form__label
                  span.form__labelTitle Компьютерный номер
                  input.form__field type="text" name="" value="SOO4410U" readonly="readonly"
              .form__block
                label.form__label
                  span.form__labelTitle СУММА С УЧЁТОМ КОМИССИИ
                  input.form__field type="text" name="" value="10 196.80 ₽" readonly="readonly"
              .form__block
                label.form__label
                  span.form__labelTitle ДАТА
                  input.form__field type="text" name="" value="08.04.2019" readonly="readonly"
              .form__block
                label.form__label
                  span.form__labelTitle КОД ТРАНЗАКЦИИ
                  input.form__field type="text" name="" value="61846054" readonly="readonly"
            .check__print
              a.check__printLink href="#" onclick="window.print();" Распечатать квитанцию
          .check__buttons
            a.check__button.linkButton.linkButton--purpleTransparent href="#" Новый платёж
            a.check__button.linkButton.linkButton--purple href="#" На главную

      include note

    include scripts
